//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail

@mixin small () {
  @media only screen and (max-width: $global-breakpoint ) {
    @content;
  }
}

@mixin large () {
  @media only screen and (min-width: $global-breakpoint + 1) {
    @content;
  }
}

// 1. Global
// ---------
.pb0 {
	padding-bottom: 0!important;
}
.mb0 {
	margin-bottom: 0!important;
}
.background-primary {
	background-color: $primary-color;
}
.background-black {
	background-color: $black;
} 

// 2. Grid
// -------
.extended-width {
	margin-left: -($global-padding);
	margin-right: -($global-padding);
	width: auto;

	&.row {
		width: auto!important;
	}
}

// 3. Block Grid
// -------------


// 4. Typography
// -------------
.text {
	color: $medium-gray;
}

// 5. Button
// ---------


// 6. Callout
// ----------


// 7. Menu
// -------
.menu tr {
	text-align: right;

	td, th {
		@include small {
			display: table-cell!important;
		}
	}
}
.menu-item {

	display: inline-block;

	&.last {
		padding-right: 25px!important;
	}

	&.first {

		@include small {
			padding-left: 65px!important;
		}
	}
}

// 8. Thumbnail
// ------------
